.slick-arrow {
    color: black;
}

.slick-prev {
    left: 15px;
    z-index: 1;
}

.slick-next {
    right: 15px;
}

.slick-prev:before, .slick-next:before {
    color: black;
}


.slick-dots {
    position: unset;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 0.25;
}

.slick-dots .slick-active button:hover:before {
    opacity: 0.75;
}
